.main {
  padding: 70px 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 80px;
}

.main__form {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 308px);
  min-width: 260px;
  box-sizing: border-box;
}

.main__input-label {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-bottom: #e8e8e8 solid 1px;
  margin-bottom: 17px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.main__input-label:last-of-type {
  border: none;
  margin: 0;
  padding: 0;
}

.main__input {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  border: none;
  background-color: unset;
  text-align: right;
  width: 120px;
}

.main__button {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: none;
  padding: 0;
  background-color: unset;
}

.main__button_submit {
  margin: auto auto 16px;
}

.main__button_logout {
  color: #ee3465;
}

@media screen and (min-width: 320px) and (max-height: 450px) {
  .main__form {
    min-height: 142px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 236px 179px 0;
  }

  .main__title {
    margin-bottom: 96px;
  }

  .main__form {
    min-height: calc(100vh - 719px);
    min-width: 410px;
  }

  .main__button {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) and (max-height: 890px) {
  .main__form {
    min-height: 171px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding: 74px 435px 70px;
  }

  .main__title {
    margin-bottom: 124px;
  }

  .main__form {
    min-height: calc(100vh - 387px);
  }

  .main__button {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) and (max-height: 540px) {
  .main__form {
    min-height: 154px;
  }
}
